services:
  web:
    build: .
    container_name: django_web
    env_file: .env
    expose:
      - "8000"
    depends_on:
      - redis
    restart: always
    networks:
      - internal

  huey:
    build: .
    container_name: huey_worker
    env_file: .env
    command: ["python", "manage.py", "run_huey"]
    depends_on:
      - redis
    restart: always
    networks:
      - internal

  redis:
    image: redis:7
    container_name: redis_server
    restart: always
    expose:
      - "6379"
    networks:
      - internal

networks:
  internal:
    driver: bridge
